h3{
    color: #e4b503;
    margin-bottom: 2rem;
}

.atras {
    height: 35px;
    padding-left: 3%;
    padding-top: 5px;
}
  
.regresar{
    height: 100%;
    border-radius: 0; 
    margin: auto;
}

.card-title{
    color: #e4b503;
}

.card{
    border-color: #e4b503;
}

p{
    color: white;
}

.btn{
    font-weight: bold;
    background-color: white;
    color: black;
}

@media (max-width: 576px) {  
    .xs {color:red;font-weight:bold;}
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width:768px) {  
    .sm {color:red;font-weight:bold;}
  }
   
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) and (max-width:992px) {  
   .md {color:red;font-weight:bold;}
  }
   
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width:1200px) { 
   .lg {color:red;font-weight:bold;}
  }
   
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
      .xl {color:red;font-weight:bold;}
  }
   