  /* Style inputs, select elements and textareas */
  input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-color: #e4b503;
    box-sizing: border-box;
    resize: vertical;
    background-color: #282828;
    color: white;
  }

  /* Style the search box inside the navigation bar */
  .topnav input[type=text]
  {
    background: white;
    color: black;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    width: 85%;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: #e4b503;
  }

  /* Style the container */
  .container {
    padding: 20px;
  }

  .out{
    background-color: #161616;
  }

  

//Barra de busqueda
.dropdown.dropdown-lg .dropdown-menu {
  //margin-top: 1px;
  padding: 2px 2px;
  background-color: #e4b503;
}
.input-group-btn .btn-group {
  display: flex !important;
}
.btn-group .btn {
  border-radius: 0;
  margin-left: -1px;
}
.btn-group .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}
.form-horizontal{
  padding: 10px 10px;
}
.form-horizontal .form-group {
  
  margin-left: 0;
  margin-right: 0;
}
.form-group .form-control:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #161616;
}

@media screen and (min-width: 768px) {
  #adv-search {
      width: 500px;
      margin: 0 auto;
  }
  .dropdown.dropdown-lg {
      position: static !important;
  }
  .dropdown.dropdown-lg .dropdown-menu {
      min-width: 500px;
  }
}

#lupa{
  width: 25px;
  height: 25px;
  padding: 0px;
}