<div class="out">

  <div class="container text-warning">
    <h3 id="title"> CATÁLOGO </h3>
    <!-- Barra de búsqueda -->
    <br>
      <div class="input-group" id="adv-search">
        <input type="text" class="form-control" placeholder="Buscar..." />
          <div class="input-group-btn">
            <div class="btn-group" role="group">
                <div class="dropdown dropdown-lg">
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <form class="form-horizontal" role="form">
                          <div class="form-group">
                            <label for="filter">Filtrar por</label>
                            <select class="form-control">
                                <option value="0" selected>Sin filtro</option>
                                <option value="1">Nombre</option>
                                <option value="2">Proveedor</option>
                                <option value="3">Responsable</option>
                                <option value="4">Ubicación</option>
                                <option value="5">Estado</option>
                            </select>
                          </div>
                          <button type="submit" class="btn btn-warning">Aplicar<span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </form>
                    </div>
                </div>
                <button type="button" class="btn btn-warning" id="lupa"><img src="../assets/images/lupita.png" /><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
          </div>
      </div>
    <br>
    <!-- Productos del catálogo -->
    <app-catalogo-producto></app-catalogo-producto>

    
  </div>
</div>