<div class="atras" >
	<img (click)="btnClick();" class="regresar" routerLink='/menu' style="height: 100%;
	border-radius: 0; margin: auto;" src="../assets/images/regresar.png" />
</div>
<div class="out">
	<div class="container text-warning">
		<div class="col">
			<div class="list-group">
				<a class="list-group-item bg-warning text-dark">
					<div class="row bg-transparent">
						<div class="col col-sm-1 bg-transparent text-dark">
							<input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
						</div>
						<div class="col col-sm-2 bg-transparent text-dark">
							Fecha
						</div>
						<div class="col col-lg-6 bg-transparent text-dark">
							Mensaje
						</div>
						<div class="col col-sm-3 bg-transparent text-dark">
							Tipo de mensaje
						</div>
					</div>
				</a>
				<a class="list-group-item bg-dark text-warning">
					<div class="row bg-transparent">
						<div class="col col-sm-1 bg-transparent text-dark">
							<input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
						</div>
						<div class="col col-sm-2 bg-transparent text-warning">
							<div class="d-flex bg-transparent">
								Hoy
							</div>
						</div>
						<div class="col col-lg-6 bg-transparent text-warning">
							Mensaje 1.
						</div>
						<div class="col col-sm-3 bg-transparent text-warning">
							<small class="bg-transparent">Préstamo solicitado.</small>
						</div>
					</div>
				</a>
				<a class="list-group-item bg-dark text-warning">
					<div class="row bg-transparent">
						<div class="col col-sm-1 bg-transparent text-dark">
							<input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
						</div>
						<div class="col col-sm-2 bg-transparent text-warning">
							<div class="d-flex bg-transparent">
								Ayer
							</div>
						</div>
						<div class="col col-lg-6 bg-transparent text-warning">
							Mensaje 2.
						</div>
						<div class="col col-sm-3 bg-transparent text-warning">
							<small class="bg-transparent">Retiro subsistema.</small>
						</div>
					</div>
				</a>
				<a class="list-group-item bg-dark text-warning">
					<div class="row bg-transparent">
						<div class="col col-sm-1 bg-transparent text-dark">
							<input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
						</div>
						<div class="col col-sm-2 bg-transparent text-warning">
							<div class="d-flex bg-transparent">
								Ayer
							</div>
						</div>
						<div class="col col-lg-6 bg-transparent text-warning">
							Mensaje 3.
						</div>
						<div class="col col-sm-3 bg-transparent text-warning">
							<small class="bg-transparent">Retiro subsistema.</small>
						</div>
					</div>
				</a>
				<a class="list-group-item bg-dark text-warning">
					<div class="row bg-transparent">
						<div class="col col-sm-1 bg-transparent text-dark">
							<input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
						</div>
						<div class="col col-sm-2 bg-transparent text-warning">
							<div class="d-flex bg-transparent">
								Hace 1 semana
							</div>
						</div>
						<div class="col col-lg-6 bg-transparent text-warning">
							Mensaje 4.
						</div>
						<div class="col col-sm-3 bg-transparent text-warning">
							<small class="bg-transparent">Fallo de seguridad.</small>
						</div>
					</div>
				</a>
				<a class="list-group-item bg-dark text-warning">
					<div class="row bg-transparent">
						<div class="col col-sm-1 bg-transparent text-dark">
							<input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
						</div>
						<div class="col col-sm-2 bg-transparent text-warning">
							<div class="d-flex bg-transparent">
								Hace 1 mes
							</div>
						</div>
						<div class="col col-lg-6 bg-transparent text-warning">
							Mensaje 5.
						</div>
						<div class="col col-sm-3 bg-transparent text-warning">
							<small class="bg-transparent">Retiro subsistema.</small>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>



				<!-- <div class="list-group text-warning">
					<a class="list-group-item list-group-item-action active text-warning" aria-current="true">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">List group item heading</h5>
							<small>3 days ago</small>
						</div>
						<p class="mb-1">Some placeholder content in a paragraph.</p>
						<small>And some small print.</small>
					</a>
					<a class="list-group-item list-group-item-action text-warning">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">List group item heading</h5>
							<small class="text-muted">3 days ago</small>
						</div>
						<p class="mb-1">Some placeholder content in a paragraph.</p>
						<small class="text-muted">And some muted small print.</small>
					</a>
					<a class="list-group-item list-group-item-action text-warning">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">List group item heading</h5>
							<small class="text-muted">3 days ago</small>
						</div>
						<p class="mb-1">Some placeholder content in a paragraph.</p>
						<small class="text-muted">And some muted small print.</small>
					</a>
				</div> -->



				<!-- <div class="card bg-warning">
					<div class="card-body">
						Mensaje 1.
					</div>
				</div>
				<div class="card bg-warning">
					<div class="card-body">
						Mensaje 2.
					</div>
				</div>
				<div class="card bg-warning">
					<div class="card-body">
						Mensaje 3.
					</div>
				</div>
				<div class="card bg-warning">
					<div class="card-body">
						Mensaje 4.
					</div>
				</div>
				<div class="card bg-warning">
					<div class="card-body">
						Mensaje 5.
					</div>
				</div>
				<div class="card bg-warning">
					<div class="card-body">
						Mensaje 6.
					</div>
				</div> -->