<div class="atras" >
	<img (click)="btnClick();" class="regresar" routerLink='/menu' style="height: 100%;
	border-radius: 0; margin: auto;" src="../assets/images/regresar.png" />
</div>
<div class="out">
	<div class="container text-warning">
		<div class="row">
			<div class="col col-sm-8">
				
			</div>
			<div class="col col-sm-4">
				<div class="row">
					<div class="col-sm">
						<button type="button" class="btn btn-warning" (click)="deleteMessage(1)">Delete Selected</button>
					</div>
					<div class="col-sm">
						<button type="button" class="btn btn-warning" (click)="deleteAll()">Delete All</button>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="col">
			<div class="list-group">
				<a class="list-group-item bg-warning text-dark">
					<div class="row bg-transparent">
						<div class="col col-sm-1 bg-transparent text-dark">
							<input class="form-check-input me-1" type="checkbox" value="" aria-label="..." (change)="changeAll($event)">
						</div>
						<div class="col col-sm-1 bg-transparent text-dark">
							ID
						</div>
						<div class="col col-sm-2 bg-transparent text-dark">
							Fecha
						</div>
						<div class="col col-lg-5 bg-transparent text-dark">
							Mensaje
						</div>
						<div class="col col-sm-3 bg-transparent text-dark">
							Tipo de mensaje
						</div>
					</div>
				</a>
				<!-- <a *ngFor="let h of historial"> -->
				<!-- <a class="list-group-item bg-dark text-warning"> -->
				<a class="list-group-item bg-dark text-warning" *ngFor="let m of msgs">
					<div class="row bg-transparent">
						<div class="col col-sm-1 bg-transparent text-dark">
							<!-- <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." [checked]="item.IsSubscribed" [(value)]="item.IsSubscribed"(change)="onChkBoxChange($event,item)"> -->
							<input class="form-check-input me-1" type="checkbox" id="{{'msgNum'+m.id}}" value="" [checked]="false" aria-label="..." (change)="onChkBoxChange($event,m.id)">
						</div>
						<div class="col col-sm-1 bg-transparent text-warning">
							<div class="d-flex bg-transparent">
								{{m.id}}
							</div>
						</div>
						<div class="col col-sm-2 bg-transparent text-warning">
							<div class="d-flex bg-transparent">
								{{m.fecha}}
							</div>
						</div>
						<div class="col col-lg-5 bg-transparent text-warning">
							{{m.nombre}}
						</div>
						<div class="col col-sm-3 bg-transparent text-warning">
							<small class="bg-transparent">
								{{m.tipo}}
							</small>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>