.form-check-input
{
  margin-left: 10px;
}
/* Style inputs, select elements and textareas */
.atras {
  height: 35px;
  padding-left: 3%;
  padding-top: 5px;
}

/*input[type=text], input[type=number], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-color: #e4b503;
    box-sizing: border-box;
    resize: vertical;
    background-color: #282828;
    color: white;
  }*/