.list-card
{
  background: #282828;
  padding-left: 20px;
 /* border: white;
  border-style: dotted;*/
}
.list-info
{
  background: #161616;
  padding-left: 10px;
  margin-left: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
.list-info-text
{
  color: #e4b503;
  background: transparent;
}
.list-title
{
  color: #e4b503;
  background: #282828;
}
.list-text
{
  color: #e4b503;
  background: #282828;
  margin-top: 2px;
  margin-bottom: 2px;
}
.list-button
{
  background: #e4b503;
  color: black;
}
.img
{
  width: 100px;
  height: 100px;
}


#list-row
{
  background: transparent; 
}
#list-col
{
  background: transparent; 
}
#item-card
{
  color: #e4b503;
  background: #282828;
}

hr
{
  color: #e4b503;
  background-color: #e4b503;
}