<div class="atras" >
   <img (click)="btnClick();" class="regresar" routerLink='/robocol/menu' style="height: 100%;
      border-radius: 0; margin: auto;" src="../assets/images/regresar.png" />
</div>
<div class="out">
   <div class="container">
      <h3 id="title">REGISTRO DE MATERIAL</h3>
      <form (submit)="addProductByHtml(nombre, proveedor, familia, ubicacionEnCubiculo, descripcion, cantidadTotal)">
      <div class="row">
         <div class="col-25">
            <label for="nombre">Nombre</label>
         </div>
         <div class="col-75">
            <input type="text" id="nombre" name="nombre" placeholder="Ingresa el nombre del producto" required #nombre>
         </div>
      </div>
      <div class="row">
         <div class="col-25">
            <label for="proveedor">Proveedor</label>
         </div>
         <div class="col-75">
            <select id="proveedor" name="proveedor" required #proveedor>
            <option value="vistronica">Vistrónica</option>
            <option value="nasa">NASA</option>
            <option value="elmono">El Mono</option>
            </select>
         </div>
      </div>
      <div class="row">
         <div class="col-25">
            <label for="familia">Familia</label>
         </div>
         <div class="col-75">
            <select id="familia" name="familia" placeholder="¿A qué familia pertenece?" required #familia>
            <option value="rojo">Rojo</option>
            <option value="verde">Verde</option>
            <option value="amarillo">Amarillo</option>
            <option value="negro">Negro</option>
            </select>
         </div>
      </div>
      <div class="row">
         <div class="col-25">
            <label for="ubicacionEnCubiculo">Ubicación en el cubículo</label>
         </div>
         <div class="col-75">
            <select id="ubicacionEnCubiculo" name="ubicacionEnCubiculo" placeholder="¿En qué parte del cubículo se encuentra?" required #ubicacionEnCubiculo>
            <option value="piso">Piso</option>
            <option value="repisa">Repisa</option>
            <option value="caja">Caja</option>
            <option value="cajon">Cajón</option>
            </select>
         </div>
      </div>
      <div class="row">
         <div class="col-25">
            <label for="descripcion">Descripción</label>
         </div>
         <div class="col-75">
            <textarea id="descripcion" name="descripcion" placeholder="Escribe una breve descripción del producto" style="height:200px" required #descripcion></textarea>
         </div>
      </div>
      <div class="row">
         <div class="col-25">
            <label for="nombre">Cantidad total</label>
         </div>
         <div class="col-75">
            <input type="number" id="cantidadTotal" name="cantidadTotal" placeholder="¿Cuántas unidades existen en total?" required #cantidadTotal>
         </div>
      </div>
      <div class="row">
         <div class="col-25">
            <label for="foto">Imagen del producto</label>
         </div>
         <div class="col-75">
            <input type="file" id="image" name="image" placeholder="Imagen del producto" class="d-none" (change)="onPhotoSelected($event)" #image>
            <img [src]="photoSelected || '../../../../assets/images/no-image.png'" class="foto img-fluid" alt="Seleccionar imagen" (click)="image.click()">
         </div>
      </div>
      <div class="row" style="margin-top: 12px;">
         <input type="submit" value="Guardar">
      </div>
      </form>
   </div>
</div>