#atras{
    height: 35px;
    padding-left: 3%;
    padding-top: 5px;
  }
  .col-8, .col-4{

    height: 100px;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
      padding-bottom: 19px;
  }
  .ficha{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .col {
    float: left;
    width: 75%;
    margin-top: 6px;
    height: 100px;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;

  }
  .color{
    color: #e4b503;
  }
  .col-50, .col-20 , .col-60{
    margin: auto;
  }
  input[type=text], input[type=number], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-color: #e4b503;
    box-sizing: border-box;
    resize: vertical;
    background-color: #282828;
    color: white;
  }
  .botonAgregar{
    width: 100%;
    padding: 12px;

  }
  .numero{
    background-color:#e4b503;
    height: 81px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  hr{
    border-top: 2px solid rgb(83,83,83);
  }

  .card
  {
    background-color:#e4b503
  }
  .ficha{
    background-color:#e4b503;
    height: 100%;
    width: 100%;
    text-align: end;

  }
  .numero .ficha{
  margin-top: 15px;
  background: azure;
  padding-left:15px;
  height: auto;
  width: 80%;
  padding: 10px;
  }
  button{
    margin: auto;
    width: 90%;
    /* height: 30px; */
    FONT-SIZE: 12pt;
  }
