<div id="atras">
  <img
    id="regresar"
    (click)="btnClick()"
    style="height: 100%; border-radius: 0; margin: auto"
    src="../assets/images/regresar.png"
  />
</div>
<div id="contenedor">
  <div class="container">
    <div class="row">
      <div class="col-60">
        <div class="row">
          <div class="col-8">
            <label class="ficha"> Disponible para utilizar </label>
          </div>
          <div class="col-4 numero">
            <label class="numero ficha">
              {{ producto.cantidadDisponiblesParaUso }}</label
            >
          </div>
        </div>
        <div class="row">
          <div class="col-8" (click)="irAPrestamos()">
            <label class="ficha" (click)="irAPrestamos()">En uso</label>
          </div>
          <div class="col-4 numero">
            <label class="numero ficha">{{ producto.cantidadEnUso }}</label>
          </div>
        </div>
      </div>

      <div class="col-50">
        <div class="row">
          <div class="col-8">
            <label class="ficha">Disponible para arreglar</label>
          </div>
          <div class="col-4 numero">
            <label class="numero ficha">
              {{ producto.cantidadDisponiblesParaArreglo }}</label
            >
          </div>
        </div>
        <div class="row">
          <div class="col-8"><label class="ficha">En arreglo</label></div>
          <div class="col-4 numero">
            <label class="numero ficha">
              {{ producto.cantidadEnArreglo }}</label
            >
          </div>
        </div>
      </div>
    </div>

    <hr />
    <form (submit)="mover(desde, Hasta, CantidadMover)">
      <div class="row">
        <div class="col-50">
          <label class="color">Desde</label>
          <br />
          <select id="desde" name="desde" required #desde>
            <option value="Disponible para utilizar">
              Disponible para utilizar
            </option>
            <option value="Disponible para arreglar">
              Disponible para arreglar
            </option>
            <option value="En uso">En uso</option>
            <option value="En arreglo">En arreglo</option>
          </select>
        </div>
        <div class="col-20">
          <label class="color">Cantidad</label>
          <br />
          <input
            type="number"
            id="CantidadMover"
            name="CantidadMover"
            required
            #CantidadMover
            min="1"
            max="1000"
          />
        </div>
        <div class="col-50">
          <label class="color">Hasta</label>
          <br />
          <select id="Hasta" name="Hasta" required #Hasta>
            <option value="Disponible para utilizar">
              Disponible para utilizar
            </option>
            <option value="Disponible para arreglar">
              Disponible para arreglar
            </option>
            <option value="En uso" selected>En uso</option>
            <option value="En arreglo">En arreglo</option>
          </select>
        </div>
      </div>
      <br />
      <div class="row">
        <button type="submit" class="btn btn-success">Mover</button>
      </div>
    </form>
    <br />
    <hr />
    <form (submit)="agregar(agrega, cantidadAgregar)">
      <div class="row">
        <div class="col-50">
          <label class="color">Agregar a</label>
          <br />
          <select id="agregar" name="agregar" required #agrega>
            <option value="Disponible para utilizar">
              Disponible para utilizar
            </option>
            <option value="Disponible para arreglar">
              Disponible para arreglar
            </option>
          </select>
        </div>

        <div class="col-20">
          <label class="color">Cantidad</label>
          <br />
          <input
            type="number"
            id="CantidadAgregar"
            name="CantidadAgregar"
            required
            #cantidadAgregar
            min="1"
            max="1000"
          />
        </div>
        <div class="col-50">
          <br />
          <br />
          <button type="submit" class="btn btn-success botonAgregar">
            Agregar nueva cantidad
          </button>

          <br />
        </div>
      </div>
    </form>
    <br />
    <hr />
    <form (submit)="retirar(retiro, CantidadEliminar)">
      <div class="row">
        <div class="col-50">
          <label class="color">Eliminar desde</label>
          <br />
          <select id="retirar" name="retirar" required #retiro>
            <option value="Disponible para utilizar">
              Disponible para utilizar
            </option>
            <option value="Disponible para arreglar">
              Disponible para arreglar
            </option>
            <option value="En uso">En uso</option>
            <option value="En arreglo">En arreglo</option>
          </select>
        </div>

        <div class="col-20">
          <label class="color">Cantidad</label>
          <br />
          <input
            type="number"
            id="CantidadEliminar"
            name="CantidadEliminar"
            required
            #CantidadEliminar
            min="1"
            max="1000"
          />
        </div>
        <div class="col-50">
          <br />
          <br />
          <button type="submit" class="btn btn-danger botonAgregar">
            Retirar/Botar cantidad
          </button>
          <br />
        </div>
      </div>
    </form>

    <br />
    <hr />

    <div class="row">
      <div class="col">
        <div class="row">
          <button
            type="button"
            class="btn btn-success"
            (click)="irAHistorial()"
          >
            Ver historial
          </button>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <button type="button" class="btn btn-danger">
            Eliminar producto
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
