<div id="atras" >
  <img id="regresar" routerLink='/ingreso-usuario' style="height: 100%;
  border-radius: 0; margin: auto;" src="../assets/images/regresar.png" />
</div>
<div id="contenedor">
  <div class="container">




  <div class="row">
    <div class="col-60 ">
      <div class="row ">
        <div class="col-8"> <label class="ficha" >  Disponible para utilizar </label> </div>
        <div class="col-4 numero "><label class="numero ficha"> 2546</label> </div>
      </div>
      <div class="row">
        <div class="col-8"> <label class="ficha">En uso</label> </div>
        <div class="col-4 numero "><label class="numero ficha">1</label> </div>
      </div>
    </div>

    <div class="col-50 ">
      <div class="row">
        <div class="col-8"> <label class="ficha">Disponible para arreglar</label> </div>
        <div class="col-4 numero "><label class= "numero ficha"> 1041</label> </div>
      </div>
      <div class="row">
        <div class="col-8"> <label class="ficha">En arreglo</label> </div>
        <div class="col-4 numero" ><label class="numero ficha"> 1041</label> </div>
      </div>
    </div>

  </div>

<hr>
  <div class="row">
    <div class="col-50">
      <label class="color">Desde</label>
      <br>
      <select id="familia" name="Desde">
        <option value="Disp.uso">Disponible para utilizar</option>
        <option value="Disp.arreglo">Disponible para arreglar</option>
        <option value="uso">En uso</option>
        <option value="arreglo">En arreglo</option>
        </select>
    </div>
    <div class="col-20">
      <label class="color" >Cantidad</label>
      <br>
      <input type="number" id="tentacles" name="tentacles"
       min="1" max="1000">
    </div>
    <div class="col-50">
      <label class="color">Hasta</label>
      <br>
      <select id="familia" name="Hasta">
        <option value="Disp.uso">Disponible para utilizar</option>
        <option value="Disp.arreglo">Disponible para arreglar</option>
        <option value="uso">En uso</option>
        <option value="arreglo">En arreglo</option>
        </select>
    </div>
  </div>
  <br>
  <div class="row">
  <button type="button" class="btn btn-success" >Mover</button>
 </div>

<hr>

  <div class="row">
    <div class="col-50">
      <label class="color">Agregar a</label>
      <br>
      <select id="familia" name="Desde">
        <option value="Disp.uso">Disponible para utilizar</option>
        <option value="Disp.arreglo">Disponible para arreglar</option>
        </select>
    </div>

    <div class="col-20 ">
      <label class="color">Cantidad</label>
      <br>
      <input type="number" id="tentacles" name="tentacles"
       min="1" max="1000">
    </div>
    <div class="col-50">
      <br>
      <br>
      <button type="button" class="btn btn-success botonAgregar" >Agregar nueva cantidad</button>

      <br>
        </div>
  </div>
  <br>
<hr>
  <div class="row">
    <div class="col">
      <div class="row">
         <button type="button" class="btn btn-success" >Ver historial</button>
      </div>
    </div>
    <div class="col">
      <div class="row">
      <button type="button" class="btn btn-danger">Eliminar producto</button></div>
    </div>
    </div>
  </div>
</div>