h6 {
  color: aliceblue;
  height: 15%;
  background-color: #282828;
}
.col-sm {
  background-color: #282828;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
img {
  height: 90%;
  border-radius: 50%;
  margin: auto;
}
.col-8,
.col-4,
.col-7,
.col-5 {
  height: 100%;
  /* padding-top: 10px; */
  background-color: #282828;
  display: flex;
  align-items: center;
}
.row {
  height: 25vh;
  margin-bottom: 15px;
  max-width: 400px;
  width: 85%;
  margin: auto;
  margin-top: 20px;
}
button{
  margin: 0;
  padding: 0;
  border: 0;
}
#atras{
  height: 35px;
  padding-left: 3%;
  padding-top: 5px;
}


