<div id="fondo">
  <div id="atras" >
    <img id="regresar"   routerLink='/ingreso-usuario' style="height: 100%;
    border-radius: 0; margin: auto;" src="../assets/images/regresar.png" />
  </div>
  <br /><br />
  <div type="button" class="row btn-warning" routerLink='/registroProducto' style="margin-top: 0%">
    <div class="col-7">
      <img src="../assets/images/registro.png" />
    </div>
    <div class="col-5">
      <div> <h6>Registro de Material</h6>
        </div>
    </div>

  </div>
  <div type="button" class="row btn-warning" routerLink='/registroProducto'>
    <div class="col-7">
      <img src="../assets/images/consulta.png" />
    </div>
    <div class="col-5">
      <div><h6>Consulta del catálogo</h6></div>
    </div>
  </div>
  <div type="button" class="row btn-warning" routerLink='/planCompra'>
    <div class="col-7">
      <img src="../assets/images/planifica.png" />
    </div>
    <div class="col-5">
      <div><h6>Plan de compra</h6></div>
    </div>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
