<div id="fondo">
  <br /><br />
  <div class="row" style="margin-top: 0%">
    <div class="col-7">
      <img src="../assets/images/registro.png" />
    </div>
    <div class="col-5">
      <div><h6>Registro de Material</h6></div>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <img src="../assets/images/consulta.png" />
    </div>
    <div class="col-5">
      <div><h6>Consulta del catálogo</h6></div>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <img src="../assets/images/planifica.png" />
    </div>
    <div class="col-5">
      <div><h6>Plan de compra</h6></div>
    </div>
  </div>
</div>
