// CSS Reset, comment out if not required or using a different module
@import '~minireset.css/minireset';
@font-face {
    font-family: Morris;
    src: url(./assets/fonts/morris.ttf) format("opentype");
}

* {
    font-family: Morris;
    background-color: #161616;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html{
    font-size: 62.5%;
  }
@import "~igniteui-angular/lib/core/styles/themes/index";
// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: igx-palette($primary, $secondary);

/* autoprefixer grid: on */

@include igx-core();
@include igx-theme($default-palette);
