<div id="fondo">
  <div class="container">
    <form   [formGroup]="userForm" (ngSubmit)= "onLogin(userForm)">
      <div class="row">
        <img
          style="height: 48px; padding: 2px 10px"
          src="../assets/images/logo_inventario.png"
        />
      </div>

      <div class="row">
        <div class="col-25">
          <label for="fname" style="padding-top: 0px">USUARIO ROBOCOL</label>
        </div>
        <div class="col-75">
          <input novalidate id="usuarioUniandes"  formControlName="usuarioUniandes"  type="text"  />
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="pwd">Contraseña</label>
        </div>
        <div class="col-75">
          <input
           id="contrasenia"  formControlName="contrasenia"
            type="password"
            name="psw"
            title="Debe contener al menos 9 o más caracteres"
            required
          />
        </div>
      </div>
      <div class="row">
        <button
          type="submit"
          value="INGRESAR"
          id="ingresar"
          style="margin-top: 15px; width: 150px"
          [disabled]='!userForm'
        >
      INGRESAR</button>
      </div>
    </form>
  </div>
</div>
