<div id="fondo">
  <div class="container">
    <form action="action_page.php">
      <div class="row">
        <img
          style="height: 48px; padding: 2px 10px"
          src="../assets/images/logo_inventario.png"
        />
      </div>

      <div class="row">
        <div class="col-25">
          <label for="fname" style="padding-top: 0px">USUARIO ROBOCOL</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="firstname" />
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="pwd">Contraseña</label>
        </div>
        <div class="col-75">
          <input
            type="password"
            id="psw"
            name="psw"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            title="Debe contener al menos un número y una letra mayúscula y minúscula,
             y al menos 8 o más caracteres"
            required
          />
        </div>
      </div>
      <div class="row">
        <input
          type="submit"
          value="INGRESAR"
          id="ingresar"
          style="margin-top: 15px; width: 150px"
        />
      </div>
    </form>
  </div>
</div>
