<div id="atras" >
  <img id="regresar" (click)="btnClick()" style="height: 100%;
  border-radius: 0; margin: auto;" src="../assets/images/regresar.png" />
</div>
<div id="fondo">
  <h4>Préstamos actuales del producto </h4>
  <table class="table ">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Cantidad</th>
        <th scope="col">Responsable</th>
        <th scope="col">Fecha</th>
        <th scope='col'>Hora</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of prestamo">
        <th scope="row">{{h.cantidad}}</th>
        <td>{{h.tipoMovimiento}}</td>
        <td>{{h.responsable}}</td>
        <td>{{h.createdAt| date:'dd-MM-YYYY'}}</td>
        <td>{{h.createdAt| date:'HH:mm'}}</td>
      </tr>
    </tbody>
  </table>
</div>

