<div id="fondo">
	<br /><br />
	<div type="button" class="row btn-warning" routerLink='/registroProducto' style="margin-top: 0%">
		<div class="col-7">
			<img src="../assets/images/registro.png" />
		</div>
		<div class="col-5">
			<div> <h6>Registro de Material</h6>
				</div>
		</div>
	</div>
	<div type="button" class="row btn-warning" routerLink='/catalogo' style="margin-top: 4rem;">
		<div class="col-7">
			<img src="../assets/images/consulta.png" />
		</div>
		<div class="col-5">
			<div> <h6>Catálogo y movimientos</h6>
				</div>
		</div>
	</div>
</div>