<div class="container-fluider px-lg-5 ">
	<br>
	<div class="row mx-lg-n4 align-items-center">
		<div class="col-lg-1 align-items-center">
		</div>
		<div class="col-lg-10 align-items-center">
			<br>
			<br>
			<br>
			<br>
			<button type="button" routerLink='/planCompraNuevo' class="btn btn-warning btn-lg btn-block">Realizar nuevo pedido</button>
			<!-- <div type="button" class="row btn-warning align-items-center" routerLink='/registroProducto'>
				<div class="col-2 align-items-center">
					<img src="../assets/images/registro.png" />
				</div>
				<div class="col-5">
					Realizar pedido
				</div>
			</div> -->
			<br>
			<br>
			<br>
			<button type="button" routerLink='/planCompraEstado' class="btn btn-warning btn-lg btn-block">Ver estado de compras</button>
			<br>
			<br>
			<br>
			<button type="button" class="btn btn-warning btn-lg btn-block">Historial de compras</button>
		</div>
		<div class="col-lg-1 align-items-center">
		</div>
	</div>
</div>


<!-- <div id="fondo">
  <div id="atras" >
    <img id="regresar"   routerLink='/ingreso-usuario' style="height: 10%;
    border-radius: 0; margin: auto;" src="../assets/images/regresar.png" />
  </div>
  <br /><br />
  <div type="button" class="row btn-warning" routerLink='/registroProducto' style="margin-top: 0%">
    <div class="col-7">
      <img src="../assets/images/registro.png" />
    </div>
    <div class="col-5">
      <div> <h6>Registro de Material</h6>
        </div>
    </div>

  </div>
  <div type="button" class="row btn-warning" routerLink='/catalogo'>
    <div class="col-7">
      <img src="../assets/images/consulta.png" />
    </div>
    <div class="col-5">
      <div><h6>Consulta del catálogo</h6></div>
    </div>
  </div>
  <div type="button" class="row btn-warning" routerLink='/planCompra'>
    <div class="col-7">
      <img src="../assets/images/planifica.png" />
    </div>
    <div class="col-5">
      <div><h6>Plan de compra</h6></div>
    </div>
  </div>
</div> -->



<!-- <app-plan-compra-formulario></app-plan-compra-formulario> -->

<!-- <div class="list-sample">
          <igx-list>
            <ng-template igxEmptyList>
              <p class="empty">No contacts! :(</p>
            </ng-template>
          </igx-list>
        </div> -->