.list-card
{
  background: #282828;
  padding-left: 20px;
 /* border: white;
  border-style: dotted;*/
}
.list-info
{
  background: #161616;
  padding-left: 10px;
  margin-left: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
.list-info-text
{
  color: #e4b503;
  background: transparent;
}
.list-title
{
  color: #e4b503;
  background: #282828;
}
.list-text
{
  color: #e4b503;
  background: #282828;
  margin-top: 2px;
  margin-bottom: 2px;
}
.list-button
{
  background: #e4b503;
  color: black;
}
.img
{
  width: 100px;
  height: 100px;
}


#list-row
{
  background: transparent; 
}
#list-col
{
  background: transparent; 
}
#item-card
{
  color: #e4b503;
  background: #282828;
}

hr
{
  color: #e4b503;
  background-color: #e4b503;
}
/*#out
{
  background: white;
}*/

/*#list-group
{
  background: white;
}
#mb-1
{
  background: red;
}*/

/* Style the search box inside the navigation bar */
.topnav input[type=text]
{
  background: white;
  color: black;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  width: 85%;
}

@media screen and (max-width: 600px)
{
  .topnav a, .topnav input[type=text]
  {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text]
  {
    border: 1px solid #ccc;
  }
}

#title
{
  color: #e4b503;
}
/* Style inputs, select elements and textareas */
input[type=text], select, textarea
{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-color: #e4b503;
  box-sizing: border-box;
  resize: vertical;
  background-color: #282828;
  color: white;
}
/* Style the label to display next to the inputs */
label
{
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: #e4b503;
}
/* Style the submit button */
input[type=submit]
{
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
/* Style the container */
.container
{
  padding: 20px;
  background: #161616;
}
/* Floating column for labels: 25% width */
.col-25
{
  float: left;
  width: 25%;
  margin-top: 6px;
}
/* Floating column for inputs: 75% width */
.col-75
{
  float: left;
  width: 75%;
  margin-top: 6px;
}
/* Clear floats after the columns */
.row:after
{
  content: "";
  display: table;
  clear: both;
}

.out
{
    background-color: #161616;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
{
  .col-25, .col-75, input[type=submit]
  {
    width: 100%;
    margin-top: 0;
  }
}