<div class="out">
  <div class="container text-warning">
    <h3 id="title"> PLAN DE COMPRA </h3>
    <br>
    <div class="topnav">
      <input type="text" placeholder="Search..">
      <button type="submit" class="list-button">Buscar</button>
      &nbsp;
      <button class="list-button">+</button>
    </div>
    <br>

    <!-- <div id="selector"></div> -->
    <!-- <container-element [ngSwitch]="tagName">  
      <elementType1 *ngSwitchCase="tagName1">...</elementType1>
      <elementType2 *ngSwitchCase="tagName2">...</elementType2>
      <elementTypeDefault *ngSwitchDefault>...</elementTypeDefault>
    </container-element> -->
    <app-plan-compra-productos></app-plan-compra-productos>
    


    <!-- PRODUCTOS -->
    <!-- Producto 1 -->
    <!-- <div class="list-group text-warning">
      <a href="/planCompra/producto1" class="list-card text-warning">
        <h5 class="list-title">PRODUCTO 1</h5>
        <div class="row" id="list-row">
          <div class="col" id ="list-col">
            <p class="list-text">   Categoría</p>
            <hr>
            <p class="list-text">   Pedido No.</p>
            <div class="list-info">
              Cotización No.:<br>
              Inventario:<br>
              Fecha compra:<br>
              Contribuyente:<br>
              Proveedor:<br>
            </div>
            <br>
          </div>
          <div class="col" id ="list-col">
            <br>
            <button class="list-button">Editar</button>
            <br>
            <br>
            <img class="img" src="../../../assets/images/FotoFactura_white_bg.gif" alt="Imagen"/>
            <p class="list-text">ESTADO</p>
            <p class="list-text">Comprado</p>
          </div>
        </div>
      </a>
    </div>
    <br> -->
    <!-- Producto 2 -->
    <!-- <div class="list-group text-warning">
      <a href="/planCompra/producto2" class="list-card text-warning">
        <h5 class="list-title">PRODUCTO 2</h5>
        <div class="row" id="list-row">
          <div class="col" id ="list-col">
            <p class="list-text">   Categoría</p>
            <hr>
            <p class="list-text">   Pedido No.</p>
            <div class="list-info">
              Cotización No.:<br>
              Inventario:<br>
              Fecha compra:<br>
              Contribuyente:<br>
              Proveedor:<br>
            </div>
            <br>
          </div>
          <div class="col" id ="list-col">
            <br>
            <button class="list-button">Editar</button>
            <br>
            <br>
            <img class="img" src="../../../assets/images/FotoFactura_white_bg.gif" alt="Imagen"/>
            <p class="list-text">ESTADO</p>
            <p class="list-text">Comprado</p>
          </div>
        </div>
      </a>
    </div>
    <br> -->
    <!-- Producto 3 -->
    <!-- <div class="list-group text-warning">
      <a href="/planCompra/producto3" class="list-card text-warning">
        <h5 class="list-title">PRODUCTO 3</h5>
        <div class="row" id="list-row">
          <div class="col" id ="list-col">
            <p class="list-text">   Categoría</p>
            <hr>
            <p class="list-text">   Pedido No.</p>
            <div class="list-info">
              Cotización No.:<br>
              Inventario:<br>
              Fecha compra:<br>
              Contribuyente:<br>
              Proveedor:<br>
            </div>
            <br>
          </div>
          <div class="col" id ="list-col">
            <br>
            <button class="list-button">Editar</button>
            <br>
            <br>
            <img class="img" src="../../../assets/images/FotoFactura_white_bg.gif" alt="Imagen"/>
            <p class="list-text">ESTADO</p>
            <p class="list-text">Comprado</p>
          </div>
        </div>
      </a>
    </div>
    <br> -->
    <!-- Producto 4 -->
    <!-- <div class="list-group text-warning">
      <a href="planCompra/producto4" class="list-card text-warning">
        <h5 class="list-title">PRODUCTO 4</h5>
        <div class="row" id="list-row">
          <div class="col" id ="list-col">
            <p class="list-text">   Categoría</p>
            <hr>
            <p class="list-text">   Pedido No.</p>
            <div class="list-info">
              Cotización No.:<br>
              Inventario:<br>
              Fecha compra:<br>
              Contribuyente:<br>
              Proveedor:<br>
            </div>
            <br>
          </div>
          <div class="col" id ="list-col">
            <br>
            <button class="list-button">Editar</button>
            <br>
            <br>
            <img class="img" src="../../../assets/images/FotoFactura_white_bg.gif" alt="Imagen"/>
            <p class="list-text">ESTADO</p>
            <p class="list-text">Comprado</p>
          </div>
        </div>
      </a>
    </div>
    <br> -->
    <!-- Producto 5 -->
    <!-- <div class="list-group text-warning">
      <a href="planCompra/producto5" class="list-card text-warning">
        <h5 class="list-title">PRODUCTO 5</h5>
        <div class="row" id="list-row">
          <div class="col" id ="list-col">
            <p class="list-text">   Categoría</p>
            <hr>
            <p class="list-text">   Pedido No.</p>
            <div class="list-info">
              Cotización No.:<br>
              Inventario:<br>
              Fecha compra:<br>
              Contribuyente:<br>
              Proveedor:<br>
            </div>
            <br>
          </div>
          <div class="col" id ="list-col">
            <br>
            <button class="list-button">Editar</button>
            <br>
            <br>
            <img class="img" src="../../../assets/images/FotoFactura_white_bg.gif" alt="Imagen"/>
            <p class="list-text">ESTADO</p>
            <p class="list-text">Comprado</p>
          </div>
        </div>
      </a>
    </div>
  </div> -->
</div>