<div class="container-fluider px-lg-5 ">
	<br>
	<div class="row mx-lg-n4 align-items-center">
		<div class="col-lg-1 align-items-center">
		</div>
		<div class="col-lg-10 align-items-center">
			<div class="container-fluid text-warning">
				<h3 id="title"> Estado de compras </h3>
				<br>
				<div class="topnav">
					<div class="row mx-lg-n4 align-items-center">
						<div class="col-lg-12">
							<input  class="search-input" type="text" placeholder="Search...">
							<button class="list-button" type="submit" >Buscar</button>
							&nbsp;
							<button class="list-button">+</button>
						</div>
					</div>
				</div>
				<br>
				<app-plan-compra-productos></app-plan-compra-productos>
			</div>
		</div>
	</div>
</div>